body,html{
    margin: 0;
    padding: 0;
}
.pagePrincipale{
    background: #000;
    height: 270vh;
}
.menu{
    height: 10vh;
}
.logoSpotify{
    height:4vh;
    width: 4vh;
    margin-left: 5vh;
}
.bar-recherche{
    background-color: #1f1f1f;
    height: 6vh;
    width: 55vh;
}

.tailleLoupe{
    height:6vh;
    width: 6vh;
}
.tailleBrowser{
    height:3vh;
    width: 3vh;
    margin-left: 2vh;

}
.deplacement{
    margin-left:13vh;
}
.borderBrowser{
    border-left:1px solid #b4b4b4;
    margin-left: 15vh;
}
.inputRecherche{
    background-color:#1f1f1f;
    border: none;
}
::placeholder{
    color: #b4b4b4;
}
.tailleMaison{
    height: 7vh;
    width: 7vh;
}
.tailleBarre{
    height: 7vh;
    width: 45vh;
}
.boutonLogin{
    background: white;
    border: none;
    padding-bottom: 1.5vh;
    padding-top: 1.5vh;
    padding-right: 4vh;
    padding-left: 4vh;
    font-size: 1.1em;
}
.boutonSignup{
    color: #8c8c8c;
    border: none;
    background-color: black;
    margin-right: 2vw;
    font-size: 1.1em;
}
.imageSearch{
    color: black;
}
.corpsdelaPage{
    height: 90vh;
}
.boiteGauche{
    height: 80vh;
    background: #121212;
    width: 30%;
}
.buttonLibrary{
    border: none;
    background-color:#121212 ;
    color: #b4b4b4;
}
.imageLibrary{
    height: 2.5vh;
    width: 2.5vh;
}
.library{
    height: 10vh;
}
.symboleplus{
    color: #b4b4b4;
    font-size: 2.5em;
    border: none;
    background-color: #121212;
}
.petiteBoite{
    background-color: #1f1f1f;
    height: auto;
}
.titrePetiteBoite{
    font-size: 1em;
}
.textpetiteBoite{
    font-size: 0.85em;
}
.buttonPetiteBoite{
    border: none;
    padding-right: 1vw;
    padding-left: 1vw;
    padding-top: 0.75vh;
    padding-bottom: 0.75vh;
}
.textGrisé{
    color: #b4b4b4;
    font-size: 0.7em;

}
.cookie{
    color: white;
    font-size: 0.80em;
}
.buttonEnglish{
    background-color: #121212;
    border-color: #b4b4b4;
}
.imageSphere{
    height: 3vh;
    width: 3.5vh;
}
.boiteDroite {
    height: 255vh;
    background: #121212;
    width: 70%;
}
.popularArtists{
    height: 10vh;
}
.textShowall{
    font-size: 0.9em;
}
.cardRounded{
    width: 20%;
    height: 30vh;
    line-height: 0.6;
}
.photoRonde{
    height: 22vh;
    width: 22vh;

}
.couleurTextGris{
    color: #b4b4b4;
    font-size: 0.90em;
}
.cardRounded2{
    width: 20%;
    height: 30vh;
}
.footerText{
    color: #b4b4b4;
}
.footer{
}
.Footerbox{
    width: 20%;
    line-height: 0.9;

}
.tailleIconeFooter{
    height: 6vh;
    width: 6vh;
    margin-right: 1vh;
}
.tailleBoiteIconeFooter{
    width: 30%;
}
.CopyRight{
    color: #b4b4b4;
    width: 115vh;
    height:6vh;
    border-top:  solid 1px #1f1f1f;
    margin-left: 3vh;
    margin-right: 3vh;
    margin-top: 5vh;
    padding-top: 5vh;
}
